@model BankManagement.ViewModel.FixedDepositVM
@{
    ViewData["Title"] = "CloseFD";
    Layout = "~/Views/Shared/_MyLayoutDash.cshtml";
}

<h1>CloseFD</h1>

<html>
<head>
    <!-- Add Bootstrap CSS link here -->
</head>
<body>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">History</h4>
                </div>
                @if (ViewBag.msg == null)
                {
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                        <tr class="d-flex flex-column text-center">
                                            <th class="flex-fill">Debit Account</th>
                                            <th class="flex-fill">FD Account</th>
                                            <th class="flex-fill">Amount Invested</th>
                                            <th class="flex-fill">Period</th>
                                            <th class="flex-fill">Interest Payout</th>
                                            <th class="flex-fill">Interest Rate</th>
                                            <th class="flex-fill">Maturity Date</th>
                                            <th class="flex-fill">Maturity Amount</th>
                                            <th class="flex-fill">Nominee Name</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="col-6">
                                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <tbody>
                                        <tr class="d-flex flex-column">
                                            <td class="flex-fill">@ViewBag.fd.DebitAcc</td>
                                            <td class="flex-fill">@ViewBag.fd.FDAccNo</td>
                                            <td class="flex-fill">@ViewBag.fd.InvestAmount</td>
                                            <td class="flex-fill">@ViewBag.fd.Period</td>
                                            <td class="flex-fill">@ViewBag.fd.InterestPayout</td>
                                            <td class="flex-fill">@ViewBag.fd.InterestRate * 100</td>
                                            <td class="flex-fill">@ViewBag.fd.MaturityDate.ToString("dd MMMM yyyy hh:mm tt")</td>
                                            <td class="flex-fill">@ViewBag.fd.MaturityAmount</td>
                                            <td class="flex-fill">@ViewBag.fd.NomineeName</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    @ViewBag.msg
                }
            </div>
        </div>
    </div>
    <form class="form-horizontal auth-form" id="closefd">

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"></h4>
                        <input type="hidden" id="UserId" name="UserId" value="@ViewBag.UserId">
                    </div><!--end card-header-->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="mb-3 row">
                                    <div class="col-sm-10">
                                        <button id="submit" type="submit" class="btn btn-primary"> Close </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end card-body-->
                </div><!--end card-->
            </div><!--end col-->
        </div><!--end row-->
    </form>
    <!-- Add Bootstrap JS and jQuery scripts here -->
    @section Scripts
        {
        <script src="~/myLib/Layout/assets/js/jquery.min.js"></script>
        <script src="~/bms/trans/transc.js"></script>
        <script>
            $(document).ready(function () {

                var model = {};
                /*var avlbal = $("#balacelbl").text();
                $("#InvestAmount").change(function () {
                    debugger;
                    //var avlbal = $("#balacelbl").text();
                    var amm = $("#InvestAmount").val();
                    if (parseFloat(amm) > parseFloat(avlbal)) {
                        alert("Insufficient Balance");
                        $("#InvestAmount").val("");
                        $('#submit').prop('disabled', true);
                        return false;
                    }
                    else {
                        $('#submit').prop('disabled', false);
                    }
                });
                $("#trxtoacc").change(function () {
                    //var avlbal = $("#balacelbl").text();
                    var amm = $("#trxtoacc").val();
                    if (amm == "" || amm == null) {
                        alert("Please Enter Account Number");
                        $('#submit').prop('disabled', true);
                        return false;
                    }
                    else {
                        $('#submit').prop('disabled', false);
                    }
                });*/

                $("#submit").click(function (e) {
                    debugger;
                    e.preventDefault();
                    /*//var amm = $("#UserId").val();
                    var toacc = $("#UserId").val();
                    if (amm == "" || amm == null) {
                        alert("Please Enter Ammount");
                        return false;
                    } else if (parseFloat(amm) < 10) {
                        alert("Minimum Transection ammout is 10");
                        return false;
                    }

                    if (toacc == "" || toacc == null) {
                        alert("Please Enter Account Number");
                        return false;
                    }*/

                    model = $('#closefd').serialize();
                    console.log(model);
                    $.post("/closefd", model, function (data) {
                        debugger;
                        if (data.success) {
                            alert(data.message);
                            window.location.href = "/closefd";
                        }
                        else {
                            alert(data.message);
                        }
                        //window.location.href = "home/index";
                    });
                    //window.location.reload();


                });

            });
        </script>
    }
</body>
</html>

